*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a, a:hover{
    text-decoration: none;
}
img{
    border: 0;
}
/*h1,h2,h3,h4,h5,h6,p,ul,ol,li,a{
    padding:5px 0px;
    margin:0;
    line-height: 0px;
}*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}
a{
   font-family: 'Lato', sans-serif; 
    font-weight: 700;
}
body{
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
/* menu part css start */
.menu_part{
    background: #10100e;

}
.menu_part .nav-item .nav-link{
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    text-transform: uppercase;
    position: relative;
    transition: all linear .3s;
}
.menu_part .nav-pills .nav-link.active:before,
.menu_part .nav-item .nav-link:before{
    height: 3px;
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #212323;
    content: '';
    opacity: 0;
     transition: all linear .3s;
}
.menu_part .nav-pills .nav-link.active:after,
.menu_part .nav-item .nav-link:after{
    height: 3px;
    width: 35%;
    position: absolute;
    right: 15%;
    bottom: 0;
    background: #fcac45;
    content: '';
    opacity: 0;
     transition: all linear .3s;
}

.menu_part .navbar-nav li:hover .nav-link,
.menu_part .navbar-nav li.active .nav-link{
    color: #fcac45;
}
.menu_part .navbar-nav li:hover .nav-link:before,
.menu_part .navbar-nav li:hover .nav-link:after{
    opacity: 1;
}
.menu_part .nav-item.active .nav-link:before,
.menu_part .nav-item.active .nav-link:after{
    opacity: 1;
}
.navcss{
    background: #12b0c4;
}
.nav-pills .nav-link.active{
    position: relative;
}
.menu_part .nav-pills .nav-link.active{
    background: none;
    color: #fff;
}
.menu_part .nav-pills .nav-link.active:before,
.menu_part .nav-pills .nav-link.active:after{
    opacity: 1;
}
/* menu part css end */

/* banner_part start */
.banner_part{
    background: url(../images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay_banner{
    padding: 180px 0px 100px;
    background: rgba(0, 0, 0, 0.64);
}

.banner_content h1{
    color: #999999;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 20px;
}
.banner_content h1 span{
    color: #fcac45;
    font-weight: 700;
}
.banner_content p{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 270px;
}
.banner_content p sapn{
    font-weight: 700;
}
.banner_content a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
}
.banner_content a i{
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
/* banner_part end */

/* about_part css start */
.about_part{
    padding: 100px 0px 60px;
}

.about_img img{
}
.about_content h5{
    color: #636363;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.about_content h3{
    color: #222222;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 40px;
    position: relative;
}
.about_content h3:after{
    position: absolute;
    left: 0;
    bottom: 25px;
    height: 3px;
    width: 100px;
    background: #fcac45;
    content: "";
}
.about_content h3 sapn{
    font-weight: 700;
}
.about_content p{
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    
}
.about_content ul li{
    padding:5px 0px;
}
.about_content ul li a{
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 400;
}
.about_content ul li a i{
    padding-right: 5px;
}
.about_content ul li a span{
    font-weight: 600;
    padding-right: 5px;
}
.about_content span a{
    color: #616161;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 1px solid #616161;
    display: inline-block;
    margin-top: 30px;
}
.about_content span a i{
    padding-right: 10px;
    font-size: 16px;
}
/* about_part css end */

/* team_part css start */
.team_part{
    padding: 100px 0px;
    background: #4b4b4b;
}

/* common_heading css part */
.common_heading{
    padding-bottom: 50px;
}
.common_heading h2{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 44px;
    padding-bottom: 50px;
    position: relative;
}
.common_heading h2 span{
    font-weight: 700;
}
.common_heading h2:before{
    position: absolute;
    left: 50%;
    top: 70px;
    width: 100px;
    transform: translateX(-50%);
    height: 3px;
    background: #cd9247;
    content: '';
}
.common_heading h2:after{
    position: absolute;
    left: 50%;
    top: 90px;
    width: 70px;
    transform: translateX(-50%);
    height: 3px;
    background: #cd9247;
    content: '';
}

.team_img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: transparent;
    overflow: hidden;
    margin:0 auto;
}
.team h4{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 15px;
}
.team h6{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.team p{
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    padding-top: 15px;
}
/* team_part css end */

/* back to top css start */
.btn_back_top{
    height: 50px;
    width: 50px;
    background: #cd9247;
    position: fixed;
    right: 50px;
    top: 500px;
    text-align: center;
    display: none;
}
.btn_back_top a i{
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    transform: rotate(-45deg);
}
/* back to top css end */